* {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

/** début header et barre de nav **/
header img {
  width: 150px;
  display: block;
  margin: auto;
  padding: 10px;
}

header li, a {
  list-style: none;
  display: inline;
  color: forestgreen;
  text-decoration: none;
  font-weight: bold;
}

header ul {
  display: flex;
  justify-content: space-around;
  background: #ECD6AF;
  padding: 20px;
}
/** fin header et barre de nav **/

/** Début fiche produit **/
figure img {
  width: 400px;
}

#categories {
  margin: 20px;
}

div.ficheproduit {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

div.description {
  padding-left: 50px
}

div.formulaire {
  padding-top: 180px;
  padding-left: 20px;
}

.prix {
  font-size: 28px;
  font-weight: bold;
  color: forestgreen;
}

#aupanier {
  border: none;
  padding: 15px;
  color: white;
  font-size: 16px;
  background-color: forestgreen;
}
/** fin fiche produit **/
/** début footer **/
